/* ***************************************** */
/* Starting of Responsive Grid System Style */

*{ 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Fixed width container[For extra small devices(mobile)] */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* For responsive fixed width container */
[class*="container-"]{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Full width container */
.container-fluid{
    width: 100%;
    padding: 0;
}

/* Fixing Floating */
.row::after{
    content: "";
    clear: both;
    display: table;
}

/* -------- For all Devices -------- */
[class*="col-"]{
    width: 100%;
    height:auto;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}


/*-------- Extra Small Devices --------*/
/*-------- For Small phones --------*/
@media only screen and (max-device-width: 575px) {
    /* Fixed width container[For extra small devices(mobile)] */
    .container{
        width: 100%;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*-------- Small Devices --------*/
/*-------- For large phones and some tablets in portrait mode --------*/
@media only screen and (min-device-width: 576px) {
    /* Responsive fixed width container fo small devices */
    .container,.container-sm{
        max-width: 540px;
    }

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* -------- Medium Devices -------- */
/* -------- For tablets in portrait mode -------- */
@media only screen and (min-device-width: 768px) {
    /* Responsive fixed width container fo medium devices */
    .container,.container-sm,.container-md{
        max-width: 720px;
    }

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* -------- Large Devices -------- */
/* -------- For tablets in landscape mode or small laptops --------*/
@media only screen and (min-device-width: 992px) {
    /* Responsive fixed width container fo large devices */
    .container,.container-sm,.container-md,.container-lg{
        max-width: 960px;
    }

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/*-------- Extra Large Devices -------- */
/*-------- For large laptops/desktops: --------*/ 

/* ----------- Non Retina Screens ----------- */
@media only screen and (min-device-width: 1200px){

    /* Responsive fixed width container fo extra large devices */
    .container,.container-sm,.container-md,.container-lg,.container-xl{
        max-width: 1140px;
    }

    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xxl-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

/* ----------- Retina Screens ----------- */
/*
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

}*/

/* Finishing of Responsive Grid System Style */
/* ***************************************** */

/* Custom Style */
#task-row{
    /*display: flex;*/
    background-color: #F2935C;
}

.task-container{
    background-color: #D94A3D;
    margin-left: 12.5%;
    padding: 20px;
}

#filter-container{
    padding: 20px;
}

input[type="text"]{
    width: 100%;
    padding: 10px 12px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    outline: none;
}

input[type="text"]:focus{
    outline: auto;
    outline-color: #732F20;
}

#filter{
    background-color: #F2D2B6;
    color: #8d8585;
}

button#addTask,button#clearAllTask{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

button#addTask:hover,button#clearAllTask:hover{
    background-color: #732F20;
    color: #f9f9f9;
}

#taskListContainer{
    padding-top: 20px;
}

#taskList{
    width: 100%;
    border-collapse: collapse;
}

#taskList tr{
    color: white;
}


#taskList td{
    padding:10px 0px;
    text-align: center;
}

#taskList th.index{
    width: 40px;
    text-align: center;
}

#taskList td.taskData{
    text-align: left;
}

#taskList td.taskData:focus{
    text-align: left;
    outline: auto;
    outline-color: #732F20;
}

#taskList td.close{
    text-align: center;
    cursor: pointer;
    padding: 0;
    font-size: 38px;
    width: 50px;
    height: 50px;
}

#taskList td.close:hover{
    color: #F2D2B6;
    background-color: #732F20;
}

#taskList tr:nth-child(odd){
    background-color: #D9663D;
}

#taskList tr:nth-child(even){
    background-color: #F2935C;
}


#clearRow{
    display: none;
}

#clearContainer{
    margin: auto;
    padding-top: 15px;
    /*visibility: hidden;*/
}


@keyframes fadeOut{
    from {left:0;}
    to {left:100px;}
}

.fade{
    position: relative;
    left: 0;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Color Theme Swatches in Hex */
.Fashion-1-hex { color: #F2D2B6; }
.Fashion-2-hex { color: #F2935C; }
.Fashion-3-hex { color: #D9663D; }
.Fashion-4-hex { color: #732F20; }
.Fashion-5-hex { color: #D94A3D; }